<div class="container">
  <form  #startGameForm="ngForm" (ngSubmit)="onSubmit(startGameForm.value)">
      <div class="form-row">
          <div class="form-group col-sm-5">
            <label for="inputName">Name</label>
            <input  type="text" 
                    class="form-control" 
                    name="firstname" 
                    placeholder="First Name"
                    [(ngModel)]="firstName"
                    required
                    #firstname="ngModel">
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                <p *ngIf="firstname.hasError('required')" class='text-danger'>Please enter your name</p>
            </div>
          </div>
          <div class="form-group col-sm-5">
              <label for="inputSurname">Surname</label>
              <input  type="text" 
                      class="form-control" 
                      name="lastname"  
                      placeholder="Last Name" 
                      [(ngModel)]="lastName"
                      required
                      #lastname="ngModel">
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
                <p *ngIf="lastname.hasError('required')" class='text-danger'>Please enter your last name</p>
            </div>
            </div>
          <div class="form-group col-sm-2">
            <label for="inputShips">Ships</label>
            <select id="inputShips" 
                    class="form-control" 
                    ngModel
                    required
                    name="shipsCounter">
                    <option value="" disabled>Select ships</option>
                    <option *ngFor="let number of numberOfShipOptions;" 
                      [value]="number.Id" 
                      [selected]="number.Id === 4">
                        {{number.option}}
                    </option>
            </select>
          </div>
        </div>
        <button type="submit" id="inputSubmit" class="btn btn-danger" [disabled]="startGameForm.invalid">Start Game</button>
  </form>