<div class="container mt-4" *ngIf="xAxis.length != 0 && yAxis.length != 0">
    <div class="row">
        <div class="col-6"><h5>Let the games begin</h5></div>
        <div class="col-6 d-flex flex-row-reverse">
                <ul class="list-inline">
                    <li class="list-inline-item"><h5>Total: <small>{{ total }}</small></h5></li>
                    <li class="list-inline-item"><h5>Hit: <small>{{ hit }}</small></h5></li>
                    <li class="list-inline-item"><h5>Miss: <small>{{ miss }}</small></h5></li>
                    <li class="list-inline-item"><h5>Sunk: <small>{{ sunk }}</small></h5></li>
                </ul>
            </div>
    </div>
    <div class="row" *ngFor="let y of yAxis">
        <div class="col-1 bg-primary text-white border text-center" 
        *ngFor="let x of xAxis"  
        attr.data-x="{{ x }}"  
        attr.data-y="{{ y }}" 
        (click)=checkCoordinate($event)>
            {{ x }} {{ y }}
        </div>     
    </div>
    <div class="row" *ngIf="total != 0">
            <div class="col-12 d-flex flex-row-reverse pt-3 pb-3"><h5>{{ message }}</h5></div>
        </div>
</div>